/*globla*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 0.5px;
}
::selection {
  color: #FFF;
  background: #990000;
}
h1 {
  font-size: 70px;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
}
img {
  height: 100%;
  width: 100%;
}
:root {
  --textColor: #2B2E4A;
  --mainColor: #E84747;
  --secondColor: #990000;
}
/**/

.sapcer{
  aspect-ratio: 960/170;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.layer1 {
  background-image: url("./assets/devider1.svg");
}
.layer2 {
  background-image: url("./assets/deivder2.svg");
}
.intro {
  text-align: center;
  background-color: #E84747;
}

.intro p {
  padding: 0 20%;
  margin-top: 20px;
  color: #FFF;

}

@media screen and (max-width:800px) {
  h1 {
    font-size: 40px;
  }
}